body{
   background-color: #ddeae0;
   margin: 0px;
   padding: 0px;
}

.container {
    max-width: 100%;
 }

 .content{
    display: grid;
 }


.item-header{
    background-color: rgba(87,10,8);
    height:100%;
    height:350px;
}

.item-services{
    background: rgba(34, 34, 34,.1);
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-service {
    display: flex;
    height: 70%;
    justify-content: center;
    flex-wrap: wrap;
 }

 .item-service{ 
    color: #810e16;
    flex-basis: 10%;
    margin: 20px;
}

 .item-footer{
    background-color: #e8f3ea;
    height:400px;
}
